    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Coisa</h1>
      </section>
        <!-- Main content -->
      <section class="content">
        <form>
            <div class = "form-group">
                <label for="nome">Nome</label>
                <input type="text" [(ngModel)]="coisa.nome" name="nome" class="form-control"/>
      
                <label for="tipo">Tipo</label>
                <input type="text" [(ngModel)]="coisa.tipo" name="tipo" class="form-control"/>
      
                <button type="button" (click)="save();" class="btn btn-block btn-primary">Salvar</button>
      
                <h3 class="box-title">Coisas</h3>
            <table class="table table-bordered table-hover dataTable">
              <tr>
                <th>Nome</th><th>Tipo</th>
              </tr>
              <tr *ngFor="let c of coisas">
                <td>{{c.nome}}</td><td>{{c.tipo}}</td>
                <td>
                  <button type="button" (click)="edit(c);" class="btn btn-block btn-primary">Editar</button>
                </td>
                <td>
                  <button type="button" (click)="delete(c);" class="btn btn-block btn-primary">Excluir</button>
                </td>
              </tr>
            </table>
          </div>
        </form>
      
      </section>
      